@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  --base-unit: 20px;
  --small-space: calc(var(--base-unit) / 2);
  --space: var(--base-unit);
  --medium-large-space: calc(var(--base-unit) * 1.5);
  --large-space: calc(var(--base-unit) * 2);
  --mega-space: calc(var(--base-unit) * 4);
  --supa-space: calc(var(--base-unit) * 8);

  --brown-light: #FBF4EB;
  --brown-dark: #837158;
  --orange-dark: #FEC32D;
  --blue-dark: #0297d2;
  --blue-light: #ddf5ff;


  box-sizing: border-box;
  font-family: 'Noto Sans', 'serif';
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  line-height: normal;
  color: var(--brown-dark);
}

h1 {
  font-size: 4.5rem;
  font-weight: 900;
}

h2 {
  font-family: 'Dancing Script', 'serif';
  font-size: 2rem;
  opacity: 0.75;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1rem;
}

html,
body {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  text-align: center;
}

#content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-items: stretch;
  align-items: flex-start;
  gap: var(--supa-space);
  overflow-y: auto;
}

#bubble-left {
  position: absolute;
  left: 0;
  top: 0;
  aspect-ratio: 1;
  height: 80vh;
  border-radius: 50%;
  background-color: var(--blue-light);
  transform: translate(-40%, -20%);
  z-index: -1;
}

#bubble-right {
  position: absolute;
  aspect-ratio: 1;
  height: 80vh;
  border-radius: 50%;
  background-color: var(--orange-dark);
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  z-index: -2;
}

@media only screen and (max-width: 800px) {
  #bubble-right {
    transform: translate(50%, -80%);
  }

  #bubble-left {
    transform: translate(-40%, -60%);
  }
}

header {
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

header h1 {
  margin-bottom: 1rem;
}

header #logo {
  width: 100px;
  margin-top: var(--supa-space);
  margin-bottom: var(--large-space);
}

header article {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: var(--mega-space);
  align-items: flex-start;
  margin-top: var(--supa-space);
}

header article .service {
  flex: 0 0 200px;
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
}

header article .service img {
  height: 6rem;
  width: auto;
  margin-bottom: var(--space);
}

header article .service span {
  font-size: .9rem;
  margin: 0;
}

section#brands {
  margin-top: 0rem;
  padding: 0 40px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: var(--space);
}

section#brands .brand {
  max-width: 100px;
  max-height: 70px;
  opacity: 0.8;
}

section#about {
  position: relative;
  width: 95vw;
  margin-left: 2.5vw;
  display: flex;
  flex-flow: column;
  gap: var(--space);
  align-items: center;
  justify-content: center;
  padding: 30px 0px;
  border-radius: 400px;
}

section#about p {
  width: 80ch;
  max-width: 80%;
  line-height: 1.6;
  text-align: justify;
}

section#socials {
  position: relative;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
}

section#socials article {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: var(--space);
  margin: 4rem 0;
}

footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: stretch;
  gap: var(--space);
  width: 100%;
  margin-bottom: var(--space);
}

footer .map {
  border: none;
  border-radius: var(--base-unit);
  width: 100%;
  height: 400px;
  box-shadow: 0px 25px 25px -20px rgba(0, 0, 0, 0.3);
  outline: none;
}

footer .shop {
  flex: 0 1 90%;
  min-width: 300px;
  max-width: 500px;
  display: flex;
  flex-flow: column;
  padding: var(--medium-large-space);
  color: white;
  gap: var(--space);
  border-radius: 36px;
}

footer .shop.left {
  align-items: flex-start;
  background-color: var(--brown-light);
  color: var(--brown-dark) !important;
}

footer .shop.right {
  align-items: flex-end;
  background-color: var(--blue-light);
  color: var(--blue-dark);
}

footer .shop.right h3 {
  color: var(--blue-dark);
}

footer .shop a {
  color: currentColor;
}

footer .opening-hours {
  text-align: left;
}

footer .opening-hours th {
  padding-right: var(--small-space);
}

footer .shop .contact {
  display: flex;
  flex-flow: row wrap;
  gap: var(--small-space);
}

footer .divider {
  opacity: 0.5;
}